@import "tailwindcss";

@theme {
  --color-primary: #DD0000;
  --color-textcol: #FFFFFF;
  --color-f-white: #FFFFFF;
  --color-f-jet: #363537;
  --color-f-isabelline: #F1EBE4;
  --color-f-EerieBlack: #172121;
}

